* {
	padding: 0;
	margin: 0;
}

img {
	position: absolute;
	z-index: -1;

}

#zoemer{
	border-radius: 230px;
	width: 470px;
	height: 470px;
	margin: 360px 10px 10px 160px;
	position: absolute;
	
}

#scherm2{
	width: 363px;
	height: 100px;
	margin: 1000px 10px 10px 220px;
	position: absolute;
	

}

.grappig{
	width: 310px;
	height: 100px;
	margin: 695px 10px 10px 53px;
	position: absolute;
	
}


.vervelend{
	width: 310px;
	height: 100px;
	margin: 695px 10px 10px 418px;
	position: absolute;


}

#beterniet{
	width: 363px;
	height: 100px;
	margin: 970px 10px 10px 220px;
	position: absolute;
	

}

textarea{
	position: absolute;
	padding: 1% 3.4% 0.5% 3.5%;
	margin: 450px 10px 10px 100px;

}

#procent{
	margin: 27.5% 10% 10% 1%;
	position: absolute;
	visibility: hidden;

}

#procent1{
	margin: 27.5% 10% 10% 1%;
	position: absolute;
	visibility: hidden;

}

#timer{
	position: absolute;
	margin: 350px 3px 10px 140px;
}

.escape{
	width: 50px;
	height: 50px;
	position: absolute;


}

#een{
	width: 50px;
	height: 50px;
	position: absolute;


}

#twee{
	width: 50px;
	height: 50px;
	margin-left: 740px;
	position: absolute;
	
}

#drie{
	width: 50px;
	height: 50px;
	margin-left: 740px;
	margin-top: 1140px;
	position: absolute;
	
}

#vier{
	width: 50px;
	height: 50px;
	margin-top: 1140px;
	position: absolute;

}


